/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    font-family: Arial, sans-serif;
}

.login {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.heading {
    padding: 5px 0;
    color: #4a90e2;
    text-align: center;
}

.bean-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
    position: relative;
}

.form-label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form-control {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #4a90e2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #79b1f0;
}

/* Dropdown styles */
.dropdown-menu {
    position: absolute;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: none; /* Hide by default */
    width: calc(100% - 20px); /* Full width minus padding */
    max-height: 150px; /* Set max height for scrolling */
    overflow-y: auto;
    top: 100%;
    z-index: 100;
}

.dropdown-item {
    padding: 10px;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}
