<html>
<body>
    <div class="login">
       <h1>Dry Bean Classifier</h1>
   
       <form action="{{ url_for('predict_data')}}" method="post">
        <h2>
            <legend>Dry Bean Prediction</legend>
        </h2>
        <div class="mb-3">
            <label class="form-label">Area</label>
            <input class="form-control" type="float" name="Area"
             placeholder="Enter the Area"/>
        </div>
        <div class="mb-3">
            <label class="form-label">Perimeter</label>
            <input class="form-control" type="float" name="Perimeter"
             placeholder="Enter the Perimeter"/>
        </div>
        <div class="mb-3">
            <label class="form-label">Major Axis Length</label>
            <input class="form-control" type="float" name="MajorAxisLength"
                placeholder="Enter the Major Axis Length"/>
        </div>
        <div class="mb-3">
            <label class="form-label">Minor Axis Length</label>
            <input class="form-control" type="float" name="MinorAxisLength"
             placeholder="Enter the Minor Axis Length"/>
        </div>
        <div class="mb-3">
            <label class="form-label">Aspect Ratio</label>
            <input class="form-control" type="float" name="Aspectratio"
                placeholder="Enter the Aspect Ratio"/>
        </div>
        <div class="mb-3">
            <label class="form-label">Eccentricity</label>
            <input class="form-control" type="float" name="Eccentricity"
                placeholder="Enter the Eccentricity" min='0' max='100' />
        </div>
        <div class="mb-3">
            <label class="form-label">Convex Area</label>
            <input class="form-control" type="float" name="Convexarea"
                placeholder="Enter the Convex Area" min='0' max='100' />
        </div>
        <div class="mb-3">
            <label class="form-label">Equivalent Diameter</label>
            <input class="form-control" type="float" name="Equivdiameter"
                placeholder="Enter the Equivalent Diameter" min='0' max='100' />
        </div>
        <div class="mb-3">
            <label class="form-label">Extent</label>
            <input class="form-control" type="float" name="Extent"
                placeholder="Enter the Extent" min='0' max='100' />
        </div>
        <div class="mb-3">
            <label class="form-label">Solidity</label>
            <input class="form-control" type="float" name="Solidity"
                placeholder="Enter the Solidity" min='0' max='100' />
        </div>
        <div class="mb-3">
            <label class="form-label">Roundness</label>
            <input class="form-control" type="float" name="Roundness"
                placeholder="Enter the Roundness" min='0' max='100' />
        </div>
        <div class="mb-3">
            <label class="form-label">Compactness</label>
            <input class="form-control" type="float" name="Compactness"
                placeholder="Enter the Compactness" min='0' max='100' />
        </div>
        <div class="mb-3">
            <label class="form-label">Shape Factor1</label>
            <input class="form-control" type="float" name="ShapeFactor1"
                placeholder="Enter the Shape Factor1" min='0' max='100' />
        </div>
        <div class="mb-3">
            <label class="form-label">Shape Factor2</label>
            <input class="form-control" type="float" name="ShapeFactor2"
                placeholder="Enter the Shape Factor2" min='0' max='100' />
        </div>
        <div class="mb-3">
            <label class="form-label">Shape Factor3</label>
            <input class="form-control" type="float" name="ShapeFactor3"
                placeholder="Enter the shape Factor3" min='0' max='100' />
        </div>
        <div class="mb-3">
            <label class="form-label">Shape Factor4</label>
            <input class="form-control" type="float" name="ShapeFactor4"
                placeholder="Enter the shape Factor4" min='0' max='100' />
        </div>
        <div class="mb-3">
            <input class="btn btn-primary" type="submit" value="Predict the Bean class" required />
        </div>
    </form>    
    <h2>
       Your Dry bean is {{results}}
    </h2>
   <body>
</html>